/*Tab corner rounding*/
.tabs-top .tab-position .tab {
	border-radius: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	/*filter: drop-shadow(0px 0px 3px gray);*/
}
#browser .tab-position .tab.active {
    	border-radius: 20px;
	width: 178px;
	filter: drop-shadow(0px 0px 3px black);
}


/*Spacing between toolbar and tabs (padding not in .tab, since it makes the tab smaller and unaligned)*/
#main {
	padding-top: 3px;
}
#tabs-tabbar-container.top {
  	padding-top: 3px;
}


/*Tab stack indicator*/
.tab-group-indicator {
 	position: absolute;
 	left: 0;
    	right: 0;
    	padding-right: 13px;
    	padding-left: 13px;
    	display: flex;
    	flex: 1;
    	top: -2px;
}
.color-behind-tabs-on .tab-indicator {
    	background-color: #757474cc;
}
.color-behind-tabs-on .tab.active + .tab-group-indicator .tab-indicator.active {
    	background-color: #ebe1e1;
}

/*Positioning for the audio symbol on tabs*/
#browser:not(.alt-tabs) #tabs-container .tab-audio, #browser:not(.alt-tabs) #tabs-container .tab.pinned:not(.active) .tab-audio {
    	position: absolute;
   	transition: transform 100ms ease-in;
   	transition-delay: 0ms;
}

/*PINNED TAB: position of audio symbol*/
#tabs-container .tab.tab-small.audio-on .tab-audio, #tabs-container .tab.pinned.audio-on .tab-audio, #tabs-container .tab.tab-small.audio-muted .tab-audio, #tabs-container .tab.pinned.audio-muted .tab-audio, #tabs-container .tab.tab-small.tab-captured .tab-audio, #tabs-container .tab.pinned.tab-captured .tab-audio {
	position: relative;
  	left: -2px;
 	top: 10px;
   	padding: 2px;
  	transition: transform 100ms ease-in;
  	transition-delay: 0ms;
   	height: 20px;
  	width: 20px;
 	border-radius: var(--radiusRound);
	transform: scale(0.625);
}


/*Removes smoothing of tabs*/
.tabs-top .tab.active:not(.marked):not(.tab-mini):after, .tabs-top .tab.active:not(.marked):not(.tab-mini):before, .tabs-bottom .tab.active:not(.marked):not(.tab-mini):after, .tabs-bottom .tab.active:not(.marked):not(.tab-mini):before {
	content: 'nil';
	position: absolute;
	width: 0px;
    	height: 0px;
    	background-color: inherit;
}


/*Toolbar*/
.SearchField, .UrlBar-AddressField {
    	border-radius: 50px;
	border: 0px
}
.toolbar-mainbar {
    --ToolbarItemGap: 0;
    flex-shrink: 0;
    color: var(--colorFg);
    background-color: #22222200;
    position: relative;
    z-index: 4;
    height: 34px;
}
.SearchField, .UrlBar-AddressField {
    border-radius: 50px;
    border: 0px solid #0f0f0f;
    color: var(--colorFg);
    background-color: #1a1a1aad;
    align-items: center;
    display: flex;
}