
/*Round tab corners + smaller width + drop shadow for inactive tabs*/
.tabs-top .tab-position .tab {
	border-radius: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	max-width: 96%;
}
/*Drop shadow for active tab*/
#browser .tab-position .tab.active {
	filter: drop-shadow(0px 0px 3px black);
}
/*Allows drop-shadow to properly display over toolbar*/
#browser.tabs-top #header {
    	contain: unset;
}	
/*Decrease tab spacing in maximised window*/
#tabs-tabbar-container.top {
  	padding-top: 3px;
	padding-bottom: 2px;
}

/*Disable blur for whole tab area*/
#browser.tabs-top #header {
    	backdrop-filter: none;
}
/*Enable blur for tab background*/
.tabs-top .tab-position .tab {
  	backdrop-filter: blur(2px);
}


/*Toolbar transparency*/
.toolbar-mainbar {
	background-color: #00000000;
}
/*Addressbar transperency + rounded corners + blur*/
.SearchField, .UrlBar-AddressField {
	border-radius: 20px;
	color: #ffffff;
	background-color: #1b1c2487;
	backdrop-filter: blur(2px);
	filter: unset;
}

/*Addressbar & SearchField spacing*/
.UrlBar-AddressField {
	flex: 0.97 0;
	position: relative;
	margin: auto;
}
.SearchField {
	position: relative;
	margin: auto;
}
/*Addressbar & SearchField focus shadowing*/
.color-behind-tabs-on .SearchField:focus-within, .color-behind-tabs-on .UrlBar-AddressField:focus-within {
    	box-shadow: 0 0 0 1px #00000061 inset;
    	border-color: #00000061;
    	filter: drop-shadow(0px 0px 2px black);
	backdrop-filter: blur(2px);
}
/*Toolbar bottom border removal*/
.address-top .toolbar-mainbar:after {
    	content: '';
    	height: 0px;
}



/*Speeddial stuff*/
/*Speeddial heading transparency + transparent border + blur*/
.startpage .startpage-navigation {
    	background-color: #36373f12;
    	box-shadow: 0px 0px 9px 4px #05050520;
    	backdrop-filter: blur(2px);
    	border-radius: 100px;
    	min-width: 70%;
    	margin: auto;
	top: 8px;
}
/*Speed dial group separation transparency (the black border between '+' and 'Bookmarks')*/
.startpage .startpage-navigation .startpage-navigation-group:last-of-type {
    	margin-right: 0;
    	border-left: 1px solid #05050520;
}



/*Panel opacity & blur*/
#panels-container {
    	border: 0 solid var(--colorBorder);
    	background-color: #00000000;
	filter: drop-shadow(0px 0px 2px black);
	backdrop-filter: blur(10px);
}
#panels-container.left:not(.overlay), #panels-container.left.icons {
    	box-shadow: 0px 0px 0px 0px var(--colorBorder);
}